*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./Images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-position: top 0px left 0px;
    margin: auto;
    background-color: #F2F2F2;
}

.heading{
    display: flex;
    justify-content: space-between;
}

.img-logo-left{
    padding: 62px 0px 0px 166px;
}

.header-text{
    display: flex;
    flex-direction: column;
    padding-top: 127px;
    padding-left: 165px;
}

.main-text{
    width: 1015px;
    height: 176px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #191826;
}

.second-main-text{
    width: 825px;
    height: 102px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #191826;
    margin-top: 40px;
}

.header-logo-right{
    max-height: 468px;
}

/* Second Container */

.second-container{
    padding-left: 165px;
    padding-top: 321px;
}

.black-rectangle{
    width: 1100px;
    height: 600px;
    background-color: #191826;
    border-radius: 12px;

}

.illustration-img{
    position: absolute;
    width: 312px;
    height: 642px;
    top: 642px;
    left: 267px;
    z-index: 1;
}

.img-logo{
    position: absolute;
    left: 501px;
    top: 820px;
}

/* Premium Container */

.premium-container{
    width: 446px;
    height: 625px;
    background-color: #FA7453;
    border-radius: 12px;
    position: absolute;
    left: 734px;
    top: 950px;

    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.premium-h1{
    width: 333px;
    height: 52px;
    margin-top: 58px;
    

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #FCFAF9
}

.premium-p{
    width: 333px;
    height: 170px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #FCFAF9;
}

.premium-price{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 333px;
}

.price{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    color: #FCFAF9;
}

.price-month{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #FCFAF9;
}

.ios-android-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.premium-button-ios{
    width: 333px;
    height: 61px;
    background-color: #191826;
    color: #ffffff;
    border-radius: 12px;
    border: none;
}

.premium-button-android{
    width: 333px;
    height: 61px;
    background-color: #ffffff;
    color:#191826;
    border-radius: 12px;
    border: none;
}

.button-text{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 7.92px;
}

/* FOOTER */

.footer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 202px;
    margin-bottom: 91px;
}

.logo{
    margin-left: 166px;
}

.footer-text-contact{
    width: 366px;
    height: 79px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
}

.social-icons{
    margin-right: 165px;
}

.fb-logo, .instagram-logo{
    margin-right: 20px;
}

/* Hovers */ 

.premium-button-ios:hover{
    cursor: pointer;
    background-color: #66E2DC;
    transition: 1s all;
}

.premium-button-android:hover{
    cursor: pointer;
    background-color: #FFB964;
    transition: 1s all;
}

.fb-logo:hover, .instagram-logo:hover, .twitter-logo:hover{
    cursor: pointer;
    transition: 0.3s all;
    background-color: #FA7453;
}

@media screen and (max-width: 768px){
    .heading, .header-text, .img-logo-left, .second-container, .img-logo, .footer-img, .logo{
        padding: 0px;
    }
    body{
        background-image: url(./Images/bg-main-tablet.png);
        background-repeat: no-repeat;
        background-position: top 0px left 0px;
    }
    .img-logo-left{
        margin-left: 39px;
        margin-top: 61px;
    }
    .main-text{
        width: 520px;
        height: 192px;
        max-width: 100%;
        font-size: 64px;
        z-index: 1;
        margin-left: 39px;
        margin-top: 95px;
    }
    .second-main-text{
        width: 514px;
        height: 112px;
        font-size: 18px;
        max-width: 768px;
        z-index: 1;
        margin-left: 39px;
        margin-top: 90px;
    }
    .img-logo-right{
       overflow: hidden;
       z-index: 0; 
       margin-left: -110px;
    }
    .black-rectangle{
        margin-left: 33px;
        width: 696px;
        height: 600px;
        margin-top: 250px;
    }
    .illustration-img{
        width: 270px;
        height: 556px;
        margin-top: 40px;
        margin-left: -155px;
    }
    .img-logo{
        margin-left: -200px;
    }
    .premium-container{
        width: 399px;
        height: 546px;
        margin-left: -450px;
        z-index: 1;
        margin-top: 100px;
    }
    .premium-h1{
        width: 302px;
        height: 40px;
        margin-top: 15px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-left: 34px;
    }
}



@media screen and (max-width: 375px){
    .heading, .header-text, .img-logo-left, .second-container, .img-logo, .footer-img, .logo{
        padding: 0px;
    }
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url(./Images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-position: top 0px left 0px;
    }
    .heading{
        display: flex;
        flex-direction: column;
        max-width: 375px;
        
    }
    .header-logo-right{
        display: none;
    }
    .img-logo-left{
        margin-top: 40px;
        margin-left: 24px;
      
    }
   .main-text{
        width: 327px;
        height: 125px;
       
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin-left: 24px;
        margin-top: 64px;
    }
    .second-main-text{
        width: 327px;
        height: 156px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-left: 24px;
        margin-top: 40px;
    }
    .illustration-img{
        width: 209px;
        height: 430px;
        margin-top: -100px;
        margin-left: -170px;
    }
    .img-logo{
        margin-left: -450px;
        margin-top: -150px;
    }
    .black-rectangle{
        width: 375px;
        height: 600px;
        margin-top: 166px;
        margin-left: 0px;
    }

    .premium-container{
        width: 375px;
        height: 546px; 
        margin-left: -734px;
    }
    .footer-container{
        margin-top: 500px;
        
    }

    .footer-img{
        margin-bottom: 15px;
        margin: 0px;
        margin-left: 0px;
    }
    .footer-text-contact{
        width: 327px;
        height: 125px;
        text-align: left;
    }
}